      <section>
        <ul class="nav nav-pills">
          <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a>
          </li>
          <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specification</a>
          </li>
          <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a>
          </li>
        </ul>

        <!-- Description  -->
        <div class="panel" ng-show="tab.isSet(1)">
          <blockquote>{{product.description}}</blockquote>
        </div>

        <!-- Specification  -->
        <div class="panel" ng-show="tab.isSet(2)">
          <blockquote>None yet</blockquote>
        </div>

        <!-- Reviews  -->
        <div class="panel" ng-show="tab.isSet(3)">
          <ul>
            <li ng-repeat="review in product.reviews">
              <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">-- {{review.author}} on {{review.createdOn | date}}</cite>
              </blockquote>
            </li>
          </ul>

          <!--  Review Form -->
            <form name="reviewForm" ng-conroller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
                                    novalidate>
              <!--  Live Preview -->
              <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">— {{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewCtrl.review.stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" required />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
        </div>
        <!-- END Reviews-->
      </section>